.register-bg{
    background-image: url('https://i.ibb.co/VJVb9Yj/priscilla-du-preez-Xk-KCui44i-M0-unsplash.jpg');
    background-size: cover;

}
.field-bg{
    background-image: url('https://i.ibb.co/ygZGwJd/mesh-80.png ');
    background-size: cover;

}